*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Macondo';
}

body {
    background: linear-gradient(to right, hsl(254, 96%, 80%), hsl(304, 96%, 88%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 500px;
    height: 500px;
    background-color: hsl(109, 96%, 93%);
    border-radius: 50%;
    border: 8px solid hsl(110, 96%, 23%);
    position: relative;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 2.2rem;
    font-weight: 500;
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }
.clock .number12 { --rotation: 360deg; }

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 13px;
    height: 50%;
    background-color: hsl(110, 96%, 23%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
    content: "";
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second {
    width: 3px;
    height: 49%;
    background-color: hsl(33, 100%, 57%);
}

.clock .hand.minute {
    width: 9px;
    height: 44%;
    background-color: hsl(107, 95%, 39%);
}

.clock .hand.hour {
    height: 37%;
}