body {
    background: rgb(210, 194, 231);
}

.square {
    width: 500px;
    height: 500px;
}

.small-square {
    width: 200px;
    height: 200px;
}

.black-border {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.center {
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

p {
     position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%) }

button {
    height: 40px;
    width: 70px;
    text-align: center;
    background-color: rgb(241, 255, 251);
    color: rgb(8, 12, 19);
    border: none;
    position: absolute;
    top: 0;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
}

button:hover {
    color: rgb(244, 194, 253);
}
   
