* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@font-face {
    font-family: myRoboto;
    src: url(./Roboto-Bold.ttf);
 }
html {
    height: 100%;
}
body {
    background: linear-gradient(to bottom right, #7963EE, #229DFB);
}

#input {
    height: 242px;
    width: 331px;
    left: 300px;
    top: 415px;
    position: absolute;
    background-color: #FFFFFF;
    outline: 4px solid rgba(51, 51, 51, 0.33);
    border-radius: 10px;
}

#value {
    background-color: transparent;
    color: #707070;
    font-size: 27px;
    font-family: myRoboto;
    position: relative;
    left: 132px;
    top: 47px;
}

#change {
    width: 186px;
    height: 72px;
    position: absolute;
    left: 879px;
    top: 589px;
    background-color: #FFFFFF;
    outline: 4px solid rgba(51, 51, 51, 0.33);
    border-radius: 10px;
    color: #707070;
    font-size: 27px;
    font-family: myRoboto;
    cursor: pointer;
}

#color {
    height: 242px;
    width: 331px;
    left: 1289px;
    top: 419px;
    position: absolute;
    background-color: #DB3A3A;
    outline: 4px solid rgba(51, 51, 51, 0.33);
    border-radius: 10px;
}

#rectangle {
    height: 41px;
    width: 132px;
    left: 878px;
    top: 474px;
    position: absolute;
    background-color: #FFFFFF;
    border: 4px solid #4963B3;
    border-right: none;
    z-index: 3;
}

#triangle {
    left: 1011px;
    top: 440px;
    position: absolute;
	border-top: 58px solid transparent;
	border-left: 90px solid #4963B3;
	border-bottom: 58px solid transparent;
    z-index: 1;
}

#small {
    left: 1014px;
    top: 446px;
    position: absolute;
	border-top: 52px solid transparent;
	border-left: 82px solid #FFFFFF;
	border-bottom: 52px solid transparent;
    z-index: 2;
}

#colorInput {
    height: 51px;
    width: 202px;
    position: absolute;
    top: 520px;
    left: 365px;
    outline: 4px solid rgba(51, 51, 51, 0.33);
    border-radius: 10px;
    color: #707070;
    font-size: 27px;
    font-family: myRoboto;
}

#pick {
    height: 50px;
    width: 80px;
    position: absolute;
    top: 595px;
    left: 490px;
    outline: 4px solid rgba(51, 51, 51, 0.33);
    border-radius: 10px;
    color: #707070;
    font-size: 27px;
    font-family: myRoboto;
}

#colorPicker {
    height: 50px;
    width: 100px;
    position: absolute;
    background-color: #FFFFFF;
    top: 595px;
    left: 365px;
    outline: 4px solid rgba(51, 51, 51, 0.33);
    border-radius: 10px;
    color: #707070;
    font-size: 27px;
    font-family: myRoboto;
}

button {
    height: 40px;
    width: 70px;
    text-align: center;
    background-color: rgb(241, 255, 251);
    color: rgb(8, 12, 19);
    border: none;
    position: absolute;
    top: 0;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
    outline: 4px solid rgba(51, 51, 51, 0.33);
    border-radius: 10px;
    color: #707070;
}

button:hover {
    color: rgb(244, 194, 253);
}
