* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url("https://cdn.wallpapersafari.com/58/31/e2DOgl.png");
    text-align: center;
    color: rgb(255, 243, 226);
}

#allDivs {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#napisy {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40%;
}

#buttons {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 55%;
}

h2 {
    padding-top:1%;
    font-size: 40px;
}

p {
    padding-top: 3%;
    font-size: 30px;
}

button {
    margin-top: 10%;
    background-color: rgb(7, 78, 7);
    height: 60px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}

#myDiv {
    height: 100px;
    width: 150px;
    background-color: rgb(144, 5, 5);
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    padding-top: 20px;
    color: aliceblue;
}
#exit {
height: 40px;
width: 70px;
text-align: center;
background-color: rgb(241, 255, 251);
color: rgb(8, 12, 19);
border: none;
position: absolute;
top: -20.5%;
left: 0%;
font-size: 20px;
font-weight: 550;
cursor: pointer;
}

#exit:hover {
    color: rgb(244, 194, 253);
}